 <html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/dashboard}">
<head>
  <title th:text="${param.id != null ? 'Cập nhật khám bệnh' : 'Thêm mới khám bệnh'}"></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:fragment="contentAdmin">
  <div class="card-body">
    <div class="col-md-6" style="max-width: 100%;">
      <div class="card mb-4">
        <h5 class="font-weight-bold card-header">Tạo mới Thông tin khám Bệnh</h5>
        <div class="card">
          <div class="card-body">
            <form th:action="@{/admin/khambenh/save}" th:object="${khambenh}" method="post">
              <div class="row">
                <input type="number" id="maKhamBenh" th:field="*{maKhamBenh}" class="form-control form-control-lg bg-light fs-6" hidden />

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nguoiDung">Mã Người Dùng:</label>
                    <select id="nguoiDung" name="maNguoiDung" class="form-select" onchange="updateMaNguoiDung()">
                      <option selected>Chọn người dung</option>
                      <option th:each="nguoiDung : ${dsNguoiDung}"
                              th:value="${nguoiDung.maNguoiDung}"
                              th:text="${nguoiDung.maNguoiDung + ' - ' + nguoiDung.tenNguoiDung}"
                              th:selected="${nguoiDung.maNguoiDung == maND}">
                      </option>
                    </select>
<!--                    <span th:if="${#fields.hasErrors('maNguoiDung')}" th:errors="*{maNguoiDung}" class="text-danger"></span>-->
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="benhVien">Bệnh Viện:</label>
                    <input type="text" class="form-control" id="benhVien" th:field="*{benhVien}" required>
                    <span th:if="${#fields.hasErrors('benhVien')}" th:errors="*{benhVien}" class="text-danger"></span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="ngayKham">Ngày Khám:</label>
                    <input type="datetime-local" class="form-control" id="ngayKham" th:field="*{ngayKham}" required>
                    <span th:if="${#fields.hasErrors('ngayKham')}" th:errors="*{ngayKham}" class="text-danger"></span>
                  </div>
                </div>
              </div>

              <div class="create-btn mt-2 d-flex justify-content-end">
                <a th:href="@{/admin/khambenh}" class="btn btn-outline-secondary" style="line-height: 32px;">Trở về</a>
                <input type="submit" th:value="${param.id != null ? 'Lưu' : 'Thêm'}" class="btn btn-primary ml-2" style="min-width: 140px" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

<script>
  function updateMaNguoiDung() {
     var selectedValue = document.getElementById('nguoiDung').value;
     document.getElementById('maNguoiDung').value = selectedValue;
  }
</script>
