<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/dashboard}">
<head>
    <title>Thông tin chỉ số người dùng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:fragment="contentAdmin">
    <!--top--navbar----design--------->
    <div class="top-navbar">
        <div class="xp-topbar">
            <!-- Start XP Row -->
            <div class="row justify-content-between">
                <!-- Start XP Col -->
                <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                    <div class="xp-menubar">
                        <span class="material-icons text-white">signal_cellular_alt</span>
                    </div>
                </div>

                <!-- Start XP Col -->
                <div class="col-md-5 col-lg-3 order-3 order-md-2">
                    <div class="xp-searchbar">
                        <div class="input-group">
                            <input id="searchInput" th:value="${query}" type="search" class="form-control" placeholder="Search">
                            <div class="input-group-append">
                                <button class="btn" id="searchButton">Tìm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End XP Col -->

            </div>
        </div>
    </div>

    <!--------main-content------------->
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrapper">
                    <div class="table-title">
                        <div class="row">
                            <div class="col-sm-6 p-0 d-flex justify-content-lg-start justify-content-center">
                                <h2 class="ml-lg-2">Thông tin tổng quan người dùng</h2>
                            </div>
                        </div>
                        <div
                                th:if="${param.err}"
                                class="alert alert-danger alert-dismissible"
                        >
                            <a
                                    href="#"
                                    class="close"
                                    data-dismiss="alert"
                                    aria-label="close"
                            >&times;</a
                            >
                            <span th:text="${param.err}"></span>
                        </div>
                        <div
                                th:if="${param.success}"
                                class="alert alert-success alert-dismissible"
                        >
                            <a href="#" class="close" data-dismiss="alert" aria-label="close" >&times;</a>
                            <span th:text="${param.success}"></span>
                        </div>
                    </div>

                    <table class="table table-striped table-hover" >
                        <thead>
                        <tr>
                            <th>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" id="selectAll">
                                        <label for="selectAll"></label>
                                    </span>
                            </th>
                            <th>Mã tổng quan</th>
                            <th>Tên người dùng</th>
                            <th>Cân nặng</th>
                            <th>Chỉ số BMI</th>
                            <th>Chiều cao</th>
                            <th>Đường huyết</th>
                            <th>Huyết áp</th>
                            <th>Nhiệt độ</th>
                            <th>Nhịp tim</th>
                            <th>Nhóm máu</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="tongquan : ${dsTongQuan}">
                            <td>
                                    <span class="custom-checkbox">
                                        <input type="checkbox" th:id="${tongquan.maTongQuan}" th:value="${tongquan.maTongQuan}"
                                               name="selectedIds">
                                        <label th:for="'checkbox' + ${tongquan.maTongQuan}"></label>
                                    </span>
                            </td>
                            <td th:text="'TQ' + ${@stringUtils.padWithZeros(tongquan.maTongQuan, 3)}"></td>
                            <td th:text="${tongquan.nguoiDung.tenNguoiDung}"></td>
                            <td th:text="${tongquan.canNang}"></td>
                            <td th:text="${tongquan.chiSoBMI}"></td>
                            <td th:text="${tongquan.chieuCao}"></td>
                            <td th:text="${tongquan.duongHuyet}"></td>
                            <td th:text="${tongquan.huyetAp}"></td>
                            <td th:text="${tongquan.nhietDo}"></td>
                            <td th:text="${tongquan.nhipTim}"></td>
                            <td th:text="${tongquan.nhomMau}"></td>
                            <td>
                                <a th:href="@{/admin/tongquan/chitietbenh(maTongQuan=${tongquan.maTongQuan})}" class="view">
                                    <i class="material-icons" data-toggle="tooltip" title="View">&#xE8F4;</i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>


                    <!-- Pagination -->
                    <div class="clearfix">
                        <div class="hint-text">Hiển thị <b th:text="${currentCount}"></b> trong số <b th:text="${totalItems}"></b> mục</div>
                        <ul class="pagination">
                            <li th:if="${currentPage > 0}" th:class="${currentPage == 0 ? 'page-item disabled' : 'page-item'}">
                                <a th:href="@{/admin/tongquan(page=${currentPage - 1}, size=${pageSize}, query=${query})}" class="page-link">Trước</a>
                            </li>
                            <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}"
                                th:classappend="${pageNum == currentPage} ? active">
                                <a th:href="@{/admin/tongquan(page=${pageNum}, size=${pageSize}, query=${query})}"
                                   class="page-link" th:text="${pageNum + 1}"></a>
                            </li>
                            <li th:if="${currentPage < totalPages - 1}" th:class="${currentPage == totalPages - 1 ? 'page-item disabled' : 'page-item'}">
                                <a th:href="@{/admin/tongquan(page=${currentPage + 1}, size=${pageSize}, query=${query})}" class="page-link">Sau</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!---footer---->
    <footer class="footer">
        <div class="container-fluid">
            <div class="footer-in">
                <p class="mb-0">&copy 2020 Vishweb design - All Rights Reserved.</p>
            </div>
        </div>
    </footer>

</div>
</body>
</html>

<script th:src="@{../../js/admin/tongquan.js}"></script>