<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

    </style>
    <script>
        function checkPassword(event) {
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirm-password").value;
            var errorElement = document.getElementById("passwordError");

            if (password !== confirmPassword) {
                errorElement.textContent = "Passwords do not match";
                event.preventDefault(); // Prevent form submission by default
            } else {
                errorElement.textContent = "";
            }
        }
    </script>
</head>
<body>
<div class="container">
    <h3 class="w-100 text-center fw-bold">Reset your password</h3>
    <form id="resetPass" th:action="@{/resetpassword}" method="POST">
        <div class="form-group mb-2">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" id="email" class="form-control" th:value="${email}" readonly="readonly">
        </div>
        <div class="form-group mb-2">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="form-group mb-2">
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <input type="password" id="confirm-password" name="confirm-password" class="form-control" required onblur="checkPassword(event)">
            <span id="passwordError" style="color: red;"></span>
        </div>
        <button type="submit" class="btn btn-success mt-3" onclick="checkPassword(event)">Submit</button>
    </form>
</div>
</body>
</html>
